<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="study.yzl.com.dao.RoleMapper">



<resultMap  id="roleMap" type="study.yzl.com.model.Role">
       <id column="id" property="id" />
       <result column="role_name" property="roleName" />
       <result column="note"  property="note"/>
</resultMap>


  <select id="findAllRole"  resultType="study.yzl.com.model.Role">
    select id ,role_name ,note from role
  </select>

<update id="updateRoleBatch1"  parameterType="java.util.List">  
    <foreach collection="list" item="item" index="index" open="" close="" separator=";">
        update role
        <set>
            role_name=#{item.roleName} ,note =#{item.note}
        </set>
        where id = #{item.id}
    </foreach>      
</update>
  
  
  <update id="updateRoleBatch2" parameterType="java.util.List">
        update role
        <trim prefix="set" suffixOverrides=",">
            <trim prefix="role_name =case" suffix="end,">
                <foreach collection="list" item="item">
                     when id=#{item.id} then #{item.roleName}
                </foreach>
            </trim>
            <trim prefix="note =case" suffix="end,">
                <foreach collection="list" item="item">
                        when id=#{item.id} then #{item.note}
                </foreach>
            </trim>
        </trim>  
        where id in
	    <foreach collection="list" index="index" item="item" separator="," open="(" close=")">
	      #{item.id}
	    </foreach>
</update>
  
  
</mapper>


